@model TheatreBookingSystem_MVC.Models.Ticket

<h2>Purchase Confirmation</h2>

@if (Model != null && Model.IsPurchased)
{
<p>Congratulations! You have successfully purchased the following ticket:</p>
<ul>
    <li>Event: @Model.Event?.Name</li>
    <li>Row: @Model.Row</li>
    <li>Seat: @Model.Seat</li>
    <li>Ticket Type: @Model.TicketType</li>
    <li>Purchase Time: @Model.PurchaseTime</li>
</ul>
}
else
{
<p>Oops! Something went wrong with the purchase. Please try again.</p>
}
