@using TheatreBookingSystem_MVC.ViewModels;
@model EventDetailViewModel

@{
}

<div class="container">

    <h1 class="my-4">
        @Model.CurrentEvent.Name
        <small></small>
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.CurrentEvent.Src" alt="@Model.CurrentEvent.Name banner" style="max-width: 800px; max-height: 600px;">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Descryption:</h3>
            <p>@Model.CurrentEvent.Description</p>
            <h3 class="my-3">Information:</h3>
            <ul>
                <li>Type: @Model.CurrentEvent.EventType</li>
                <li>Date: @Model.CurrentEvent.Date</li>
                <li>Duration: @Model.CurrentEvent.Duration</li>
            </ul>
            <a href="@Url.Action("Index", "Ticket", new { eventId = Model.CurrentEvent.Id })" class="btn btn-primary">Buy Ticket</a>
        </div>

    </div>

    <h3 class="my-4">Other Events</h3>

    <div class="row">
        @foreach (var otherEvent in Model.OtherEvents)
        {
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="@Url.Action("Detail", "Event", new { id = otherEvent.Id })">
                    <img class="img-fluid" src="@otherEvent.Src" alt="@otherEvent.Name banner" style="max-width: 100%; max-height: 100%;">
                </a>
            </div>
        }
    </div>

</div>
