@model IEnumerable<Event>

@{
    var events = Model.ToList();
}

<h1>Events</h1>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        @for (var i = 0; i < events.Count; i += 3)
        {
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin-bottom: 20px;">
                @for (var j = i; j < Math.Min(i + 3, events.Count); j++)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="img-fluid" src="@events[j].Src" alt="@events[j].Name banner" style="max-width: 500px; max-height: 300px;">
                            <div class="card-body">
                                <p class="card-text">@events[j].Name</p>
                                <p class="card-text">@events[j].Description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="btn btn-success" asp-controller="Event" asp-action="Detail" asp-route-id="@events[j].Id" class="btn btn-sm btn-outline-secondary">Details</a>
                                        <a type="btn btn-success" asp-controller="Ticket" asp-action="Index" asp-route-id="@events[j].Id" class="btn btn-sm btn-outline-secondary">Buy Ticket</a>
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                        {
                                            <a type="btn btn-success" asp-controller="Event" asp-action="Edit" asp-route-id="@events[j].Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                            <a type="btn btn-success" asp-controller="Event" asp-action="Delete" asp-route-id="@events[j].Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                        }
                                    </div>
                                    <small class="text-body-secondary">@events[j].EventType</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
